*{
    margin: 0;
    padding: 0;
}
.process{
    width: 100%;
    height: 200px;
    background-color: white;
    color: #275DAD;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}