.Title{
    font-size: 1.8rem;
    padding-top: 10rem;
    margin-bottom: 0.4rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
    position: relative;
}
.Title > h2{
    font-weight: 300;
}
.stagTitle{
 opacity: 0;
}
@media screen and (max-width: 916px) {
    .Title{
        font-size: 1.3rem;
        padding-top: 10rem;
        margin-bottom: 0.4rem;
        font-weight: 900;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        z-index: 1000;
        position: relative;
    }
    .Title > h2{
        font-weight: 300;
    }
}