html {
    background-color: #AEDAFE;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.Hero-webdesign{
  margin-top: 20px;
  height: 600px;
  width: 100%;
  color: white;
  background-color: #275DAD;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  width: 90%;
  line-height: 3;
  margin-top: 40px;
}